<?xml version="1.0"?>
<config>
    <modules>
       <Orba_Facebook>
          <version>0.2.1</version>
       </Orba_Facebook>
    </modules>
     <frontend>
        <routers>
            <facebook>
                <use>standard</use>
                <args>
                    <module>Orba_Facebook</module>
                    <frontName>facebook</frontName>
                </args>
            </facebook>
        </routers>
        <layout>
            <updates>
                <facebook>
                    <file>facebook.xml</file>
                </facebook>
            </updates>
        </layout>
        <translate>
            <modules>
                <Orba_Facebook>
                    <files>
                        <default>Orba_Facebook.csv</default>
                    </files>
                </Orba_Facebook>
            </modules>
        </translate>
    </frontend>  
    <global>
        <blocks>
            <facebook>
                <class>Orba_Facebook_Block</class>
            </facebook>
        </blocks>
        <helpers>
            <facebook>
                <class>Orba_Facebook_Helper</class>
            </facebook>
        </helpers>
        <models>
            <facebook>
                <class>Orba_Facebook_Model</class>
            </facebook>
        </models>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <orba_facebook_layout_observer>
                        <type>singleton</type>
                        <class>facebook/observer</class>
                        <method>manageTopLinks</method>
                    </orba_facebook_layout_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <customer_logout>
                <observers>
                    <orba_facebook_layout_observer>
                        <type>singleton</type>
                        <class>facebook/observer</class>
                        <method>removeFacebookSession</method>
                    </orba_facebook_layout_observer>
                </observers>
            </customer_logout>
        </events> 
        <resources>
            <facebook_setup>
                <setup>
                    <module>Orba_Facebook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </facebook_setup>
            <facebook_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </facebook_write>
            <facebook_read>
               <connection>
                <use>core_read</use>
              </connection>
            </facebook_read>
        </resources>
    </global>
    <default>
        <facebook>
            <app>
                <active>0</active>
            </app>
            <connect>
                <active>1</active>
                <mode>connect</mode>
                <add_connect_to_top_links>1</add_connect_to_top_links>
            </connect>
            <likes_home>
                <active>content</active>
                <layout_style>standard</layout_style>
                <width>450</width>
            </likes_home>
            <likes_category>
                <active>right</active>
                <layout_style>button_count</layout_style>
                <width>175</width>
            </likes_category>
            <likes_product>
                <active>right</active>
                <layout_style>button_count</layout_style>
                <width>175</width>
            </likes_product>
        </facebook>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Orba_Facebook>
                    <files>
                        <default>Orba_Facebook.csv</default>
                    </files>
                </Orba_Facebook>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <facebook>
                                            <title>Facebook Connect</title>
                                        </facebook>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml> 
</config>
